<main data-controller="progress" class="min-h-[calc(100vh-60px)] pt-[60px] pb-24 bg-gray-50 flex flex-col items-center">
  <section class="w-full mx-auto min-h-screen items-center flex flex-col py-5 sm:px-6 lg:px-8 px-4 mb-12">
    <div class="w-full text-left mb-2">
      <h3 class="mb-4 text-sm text-violet-600">経過</h3>
    </div>
    <div class="w-full max-w-screen-md min-h-[400px] sm:min-h-[500px] lg:min-h-[550px]">
      <!-- グラフ / 写真タブ -->
      <div class="w-full max-w-screen-md mx-auto flex border rounded overflow-hidden mb-2">
        <button id="tab-graph" data-progress-target="tabGraph" class="w-full bg-violet-500 text-white py-2 rounded text-xs sm:text-sm">グラフ</button>
        <button id="tab-photo" data-progress-target="tabPhoto" class="w-full bg-violet-100 text-violet-500 py-2 rounded text-xs sm:text-sm">写真</button>
      </div>

      <%= render 'graph_view' %>

      <%= render 'stats_table' %>

      <%= render 'photo_view' %>
    </div>
  </section>
</main>
<%= stylesheet_link_tag "progress", "data-turbo-track": "reload" %>

<script>
window.activeTab = "<%= params[:tab] || 'graph' %>";
</script>
