<button type="<%= (defined?(type) && type.present?) ? type : 'button' %>"
        class="btn <%= defined?(color) && color.present? ? color : 'btn-primary' %> <%= defined?(extra_class) ? extra_class : '' %>"
        <%= defined?(data_attr) && data_attr.present? ? data_attr : '' %>>
  <%= text %>
</button>
